body {
  margin: 0;
  padding: 0;
  font: 400 14px 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 30px;
  color: #727272;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.1; }

html {
  font-size: 16px; }

div {
  box-sizing: border-box; }

@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px); } }
#site-header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 730px;
  background: url("../img/background.jpg") no-repeat center center;
  background-size: cover; }
  #site-header .header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); }
  #site-header .header-content {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    #site-header .header-content .site-title {
      display: table;
      margin: 0 auto;
      margin-bottom: 30px;
      border-bottom: 4px double #fff; }
      #site-header .header-content .site-title .site-name {
        font-size: 60px; }
    #site-header .header-content .site-slogan {
      font-size: 40px; }
    #site-header .header-content .social-link {
      display: table;
      margin: 30px auto; }
      #site-header .header-content .social-link .list-inline-item {
        display: inline-block;
        margin: 0 15px; }
        #site-header .header-content .social-link .list-inline-item a {
          position: relative;
          background-color: tranparent;
          display: block;
          width: 40px;
          height: 40px;
          border: 1px solid #fff;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%; }
          #site-header .header-content .social-link .list-inline-item a:hover {
            background-color: #fff;
            transition: all .6s;
            -webkit-transition: all 0.6s;
            -moz-transition: all 0.6s;
            -ms-transition: all 0.6s;
            -o-transition: all 0.6s; }
            #site-header .header-content .social-link .list-inline-item a:hover i {
              color: rgba(0, 0, 0, 0.5); }
          #site-header .header-content .social-link .list-inline-item a i {
            position: absolute;
            font-size: 20px;
            color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%); }
  #site-header .icon-scroll {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 50px;
    top: 85%;
    border: 2px solid #fff;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); }
    #site-header .icon-scroll::before {
      position: absolute;
      background-color: #fff;
      content: '';
      width: 6px;
      height: 6px;
      margin-left: 10px;
      top: 8px;
      border-radius: 4px !important;
      animation: scroll 1.5s infinite;
      -webkit-animation: scroll 1.5s infinite; }

.huge-side {
  min-height: 100vh; }

.left-side {
  background-color: #eeeeee;
  padding: 120px 70px 30px;
  text-align: center; }
  .left-side .huge-content {
    min-height: 100vh; }
    .left-side .huge-content .avatar img {
      margin-bottom: 30px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%; }
    .left-side .huge-content h1 {
      font-size: 42px;
      line-height: 60px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 500;
      color: #333;
      letter-spacing: 1px; }
    .left-side .huge-content h2 {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 500;
      color: #333;
      letter-spacing: 1px; }
    .left-side .huge-content .btn {
      border: 2px solid transparent;
      border-radius: 0;
      padding: 12px 28px;
      margin: 20px 0;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;
      transition: all .3s;
      position: relative;
      color: #FFF;
      background-color: #333;
      letter-spacing: 2px; }
    .left-side .huge-content .btn-download {
      border: 2px solid transparent;
      border-radius: 0;
      margin: 20px 0; }

.right-side {
  background-color: #fff; }
  .right-side .content {
    padding: 120px 70px 0; }
    .right-side .content .block-content {
      margin: 0 0 70px; }
      .right-side .content .block-content .title {
        font-size: 24px;
        text-transform: uppercase;
        color: #0ca9d6;
        padding-bottom: 15px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
        font-weight: 600; }
      .right-side .content .block-content .subtitle {
        font-size: 30px;
        font-weight: 300;
        line-height: 2em;
        margin-bottom: 30px;
        text-transform: none;
        color: #333;
        letter-spacing: 1px; }
      .right-side .content .block-content b {
        font-weight: 700; }
      .right-side .content .block-content strong {
        font-weight: 700;
        color: #333; }
      .right-side .content .block-content p {
        margin-bottom: 30px; }
      .right-side .content .block-content .info-list {
        border-top: 1px solid #ddd;
        padding-top: 20px;
        margin: 20px -15px; }
      .right-side .content .block-content .progress-bar-label {
        color: #333;
        font-weight: 500;
        margin-bottom: 10px; }
      .right-side .content .block-content label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700; }
      .right-side .content .block-content .progress {
        height: 2px;
        margin-bottom: 30px;
        background-color: #ddd;
        border-radius: 0;
        box-shadow: none;
        overflow: visible;
        width: 90%; }
        .right-side .content .block-content .progress .progress-bar {
          height: 2px;
          line-height: 8px;
          background-color: #666;
          box-shadow: none;
          position: relative; }
          .right-side .content .block-content .progress .progress-bar span {
            display: block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            color: #000;
            background: #F1F3F6;
            font-weight: 500;
            position: absolute;
            top: -16px;
            right: -20px;
            border-radius: 12px; }
      .right-side .content .block-content .timeline {
        position: relative; }
        .right-side .content .block-content .timeline::before {
          background: #ddd;
          bottom: 0;
          content: "";
          left: 18px;
          position: absolute;
          top: 50px;
          width: 1px; }
        .right-side .content .block-content .timeline .exp-holder {
          margin-top: 70px; }
          .right-side .content .block-content .timeline .exp-holder .exp {
            padding: 20px 20px 0 60px;
            position: relative; }
            .right-side .content .block-content .timeline .exp-holder .exp::after {
              background: #333;
              border: 2px solid #333;
              border-radius: 50%;
              content: "";
              height: 5px;
              width: 5px;
              left: 16px;
              position: absolute;
              text-align: center;
              top: 32px; }
            .right-side .content .block-content .timeline .exp-holder .exp .hgroup {
              margin-bottom: 5px; }
              .right-side .content .block-content .timeline .exp-holder .exp .hgroup h4 {
                font-size: 16px;
                line-height: 24px;
                display: inline-block;
                text-transform: none;
                margin-bottom: 10px;
                font-weight: 700;
                color: #333;
                letter-spacing: 1px; }
              .right-side .content .block-content .timeline .exp-holder .exp .hgroup .badge {
                font-size: 10px;
                color: #fff;
                margin: 7px 20px 10px;
                display: inline-block;
                text-transform: none;
                margin-bottom: 10px;
                font-weight: 700;
                min-width: 10px;
                padding: 3px 7px;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                background-color: #777;
                border-radius: 10px;
                letter-spacing: 1px;
                line-height: 1; }

.portfolio .content {
  padding-top: 0;
  padding-bottom: 0; }
  .portfolio .content .portfolio-project {
    overflow: hidden; }
    .portfolio .content .portfolio-project:hover img {
      transform: scale(1.3, 1.3);
      -webkit-transform: scale(1.3, 1.3);
      -moz-transform: scale(1.3, 1.3);
      -ms-transform: scale(1.3, 1.3);
      -o-transform: scale(1.3, 1.3);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s; }

/*# sourceMappingURL=main.css.map */
